blockquote {
    color: black !important;
    background-color:#E5E5E5 !important;
    padding:15px !important;
}

blockquote ol,blockkquote ul {
    margin-bottom: 0 !important;
}
blockquote:before{
    content: "Policy";
    font-weight:bold;
}
