
.gub-policy {
    color: green !important;
}

.gub-policy + blockquote {
    color: green !important;
}

.gub-policy + ol {
    color: green !important;
}

.gub-policy + ul {
    color: green !important;
}
