
.gub-policy {
    color: green !important;
}

.gub-policy + blockquote {
    
}

.gub-policy + ol {
    color: black !important;
}

.gub-policy + ul {
    color: black !important;
}

blockquote {
    color: black !important;
    border:5px dashed red !important;
}
